<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>客户IP地址：<{$Think.server.REMOTE_ADDR}></p>
    <p>session:<{$Think.session.user}></p>
    <p>cookie:<{$Think.cookie.age}></p>
    <p>接收get参数:<{$Think.get.id}></p>
    <p>接收post参数:<{$Think.post.shop_price}></p>
    <p>接收request参数:<{$Think.request.goods_num}></p>
    <p>常量:<{$Think.const.ROOT}></p>
    <p>常量2:<{$Think.ROOT}></p>
</body>
</html>